body {
	font-family: 'Mukta', sans-serif;
	margin-top: 50px;
	margin-right: 75px;
	margin-bottom: 100px;
	margin-left: 100px;
	color: rgb(8,7,58);
	font-size: 1em;
}

h1 {
	margin-top: 0px;
	margin-bottom: -20px;
	margin-left: -50px;
	font-weight: bold;
	font-size: 2.50em;
	padding-bottom: 0px;
}

h2 {
	margin-left: -30px;
	font-weight: bold;
}

a:link {
	background-color: rgb(8,7,58);
	color: white;
	border: dotted;
}

a:visited {
	background-color: rgb(119,115,239);
	color: white;
	border: dotted;
}

.mainPhoto {
	width: 100%;
}

.myPhoto {
	size: 50%;
}

.byLine {
	margin-left: -50px;
	margin-top: 0px;
	font-weight: bold;
	font-size: 1.75em;
}