body {
	font-family: 'Mukta', sans-serif;
	margin-top: 50px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	color: rgb(8,7,58);
	font-size: 1em;
}

h1 {
	margin-top: 0px;
	margin-bottom: -20px;
	margin-left: -50px;
	font-weight: bold;
	font-size: 2.50em;
	padding-bottom: 0px;
}

ol {
	list-style-image: url ;
}

h2 {
	margin-left: -30px;
	font-weight: bold;
}

a:link {
	background-color: rgb(8,7,58);
	color: white;
	border: dotted;
	padding: .5em;
}

a:visited {
	background-color: rgb(119,115,239);
	color: white;
	border: dotted;
}

.aboutMe {
	width: 70%;
}

.redirect {
	text-align: center;
}

.educationTable {
	width: 100%;
	padding-left: 10%;
}

.educationBlock {
	border: 1pt solid black;
	width: 15em;
	height: 11em;
	display: inline-block;
	vertical-align: middle;
}

.tableTitleRow {
	font-size: 15pt;
	font-weight: bold;
	padding-left: .5em;
}

.educationRow {
	padding-left: 1.5em;
}

 /*
.mainPhoto {
	height: 20em;
	width: 100%;
	border: 3pt solid black;
	text-align: center;
}
*/

.myPhoto {
	height: 20em;
	float: right;
	margin: 1em;
}

.byLine {
	margin-left: -50px;
	margin-top: 0px;
	font-weight: bold;
	font-size: 1.75em;
}