
body {
	font-family: 'PT Serif', serif;
}

.invoice {
	width: 100%;
}

.customer {

}

.zeroQuantity {
	display: none;
}
.name {
	color: purple;
	font-weight: bold;
	display: inline;
	position: relative;
	left: 1em;
}
.type {
	display: inline;
	position: absolute;
	left: 8em;
}
.qty {
	display: inline-block;
	font-weight: bold;
	position: absolute;
	left: 14em;
}
.price {
	display: inline;
	position: absolute;
	left: 21em;
}
.totalCost {
	display: inline;
	position: absolute;
	left: 28em;
}

.price::before {
	content: "$ ";
}
.totalCost::before {
	content: "$ ";
}

.emptyCart {
	text-align: center;
	vertical-align: middle;
}

#down{
	position: absolute;
	left: 24em;
}
#up {
	position: absolute;
	left: 27em;
}